/* Media-queries for the other screens */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 20px;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        gap: 30px;
    }

    .main-p {
        width: 620px;
        margin: auto;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title-boxes {
        margin-top: 20px;
        margin-bottom: 20px;
        margin: auto;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 15px;
        width: 620px;
        text-align: center; /* Centralizar texto */
    }

    .pac-cat {
        margin: 20px 0px;
    }

    .pac-cat p {
        width: 620px;
        margin: auto;
        padding: 20px 0px;
        text-align: justify;
    }

    div.members {
        display: flex;
        flex-direction: row;
        width: 600px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.members-section-img {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: fit-content;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 28px;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 180px;
    }

    nav {
        gap: 70px;
    }

    div#animals-hide1 {
        display: none;
    }

    main {
        padding: 0px 180px;
    }

    main h1 {
        margin-top: 30px;
        text-align: start;
    }

    .main-p {
        width: 550px;
    }

    #teste1 {
        width: 700px;
    }

    div#animals-hide2 {
        display: block;
        width: fit-content;
        transform: translate(-30px, 22px);
    }
    
    div#animals-hide2 > img {
        width: 375px;
        height: auto;
    }

    .main-div {
        display: flex;
        justify-content: space-between;
        width: 1198px;
    }

    .pac-cat-div {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 50px 0px;
    }

    .pac-cat-div > a > img {
        width: 350px;
    }

    .pac-cat-div > p {
        font-size: 45px;
        width: 700px;
    }

    div.members {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    div.members-section-img {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: fit-content;
        align-items: center;
        justify-content: space-between;
    }

    div.members-section-img div {
        width: 250px;
        height: 250px;
    }

    .redes {
        display: flex;
        flex-direction: row;
        margin: auto;
        margin: 50px 0px;
    }
}